<!DOCTYPE HTML>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>GU Rocketry Weather Station mk1</h1>
        <h2>The date and time on the server is: {{ time }}</h2>
        <h2>Current conditions:</h2>
        <ul>
            <li>Temperature: {{ temp }} &#176; C</li>
            <li>Pressure: {{ pressure }} bar</li>
            <li>Humidity: {{ humid }}</li>
            <li>Wind speed: {{ wind_v }} m/s</li>
            <li>Wind direction: {{ wind_d }} &#176; </li>
            <li>4-hour Rainfall: {{ rain }} mm</li>
        </ul>
    </body>
</html>